/* Global */
@font-face {
    font-family: Myriad Pro;
    src: url('./fonts/myriadpro-regular.otf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('./fonts/opensans/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('./fonts/opensans/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semi Bold'), local('OpenSans-Semibold'), url('./fonts/opensans/OpenSans-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./fonts/opensans/OpenSans-Bold.woff') format('woff');
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #717171;
    background: #FFFFFF;
}

a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}

ul {
    padding: 0;
    margin: 0;
}

/* Wizard */
.wizard {
    margin: 1em;
}

.wizard .nav {
    margin-top: 2em;
}

.wizard .tab-content {
    padding: 1em;
}

header {
    box-sizing: border-box;
    overflow: hidden;
    height: 40px;
    background-color: #303641;
    color: white;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

main {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: row;
}

main > * {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

main nav {
    background-color: #2b303a;
    color: white;
    padding: 0;
    width: 320px;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;

    z-index: 1000;
    display: flex;
    flex-direction: column;

    transition: width 0.5s ease-in-out;
}

main nav.menu-hidden {
    width: 0;
    padding-left: 0;
    padding-right: 0;
}

main nav > * {
    box-sizing: border-box;
    width: 320px;
}

main nav > :first-child {
    margin-top: 0;
}

main nav > :last-child {
    margin-bottom: 0;
}

#content {
    flex: auto;
    padding: 1em;
    padding-top: 2em;
    overflow: auto;
    background: #FFFFFF;
}

#content > div {
    min-width: 600px;
    max-width: 1600px;
    margin: auto;
}

#content .form-group {
    overflow: hidden;
}

@media (max-width: 620px) {
    #content {
        min-width: 100%;
        width: 100%;
        overflow-x: hidden;
        padding: 7px;
    }

    #content > div {
        min-width: 100%;
    }

    .panel-body {
        padding: 5px;
    }

    .panel-body p.btn-group {
        padding: 0;
    }
}

#content ul li {
    list-style: none;
}

#content ul.bullet li {
    list-style: disc inside;
}

/* Navigation bar */
header > * {
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-self: center;
    margin: 0;
    font-size: 20px;
}

header .menu-toggle {
    font-size: 25px;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: 0;
}

header h1 {
    font-weight: bold;
    color: #FFFFFF;
}

header h1 a, header h1 a:hover, header h1 a:focus {
    color: #FFFFFF;
}

header .section-title {
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-overflow: ellipsis;
}

header .locale-selector {
    width: auto;
    margin-right: 5px;
    color: #000;
}

header .locale-selector.form-control {
    display: inline-block;
}

.nav-pills > li > a {
    color: #717171;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    padding: 12px 15px;
}

.nav-pills > li > a.active, .nav-pills > li > a.active:focus, .nav-pills > li > a.active:hover {
    color: #717171;
    font-weight: bold;
    background: none;
    border-color: #717171;
}

/* Sidebar list of sections (operations, settings, etc.) */
.sidebar-section-list ul {
    list-style: none;
}

.sidebar-section-list li {
    border-bottom: 2px solid #343a45;
    padding: 0 0 0 0;
    background: #303641;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.sidebar-section-list li > a {
    display:block;
    font-size: 14px;
    font-weight: 600;
    color: #afb0b3;
    padding: 14px 0 14px 24px;
}
.sidebar-section-list li > a.active {
    background: #2b303a;
}

.sidebar-section-list li i {
    margin-right: 15px;
}

.bank-details {
    padding-top: 20px;
    padding-left: 20px;
}

.bank-details .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 5%;
    border: 3px solid #fff;
    vertical-align: top;
}

.bank-details .bank-name {
    display: inline-block;
    color: #fff;
    /* 4px (border) + 8px (margin) + 50px (icon) + 8px (margin) */
    width: calc(100% - 70px);
}

.bank-details .bank-name > * {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.bank-details .bank-name div:first-child span:first-child {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 25px);
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.bank-details .bank-name .bank-sum {
    color: #afb0b3;
}

.bank-details > li {
    padding-left: 0;
    border-left: 4px solid grey;
}

.bank-details > li.active {
    border-color: #d0e9c6;
}

.bank-details > li > * {
    margin-left: 8px;
}

.bank-details a {
    color: #fff;
    display: block;
}

.bank-details .bank-sum span:first-child {
    margin-right: 10px;
}

.bank-details .amount.positive {
    color: #00a651;
}

.bank-details .amount.negative {
    color: #f26c4f;
}

.bank-details > li > .accounts {
    margin-top: 1em;
    margin-left: -4px;
}

.bank-details > li > .accounts > li {
    list-style-type: none;
    line-height: 2em;
}

.bank-details > li > .accounts > li > a:hover {
    border-left: 4px solid #82d8ac;
    background-color: rgba(255, 255, 255, 0.25);
}

.bank-details > li > .accounts > li a.active {
    border-left: 4px solid #00a651;
}

.bank-details > li > .accounts > li a {
    color: #afb0b3;
    font-size: 14px;
    font-weight: 600;
    padding-left: 8px;
    border-left: 4px solid transparent;
}

.bank-details > li > .accounts > li .amount {
    margin-left: 8px;
}

/* Banks list component and account list component */
.sidebar-list > ul > li {
    color: #494f59;
    display: block;
    margin-bottom: 1em;
    list-style: none;
}

.sidebar-list > ul > li span {
    letter-spacing: 0.5px;
}

.sidebar-section-list {
    flex: auto;
}

.sidebar-about {
    overflow-y: visible;
    text-align: right;
    color: #FFFFFF;
}

.sidebar-about > div {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2%;
}

.sidebar-about-main {
    cursor: pointer;
}

.sidebar-about-main:only-child {
    margin: 0;
}

.sidebar-about span.toggle {
    cursor: inherit;
    float: left;
    font-size: 1.5em;
}

.sidebar-about .desc {
    color: #afb0b3;
}

.sidebar-about a {
    color: #FFFFFF;
    font-weight: bold;
}

.sidebar-about a:hover {
    font-style: italic;
}

.sidebar-about li {
    list-style: none;
}

.sidebar-about li .fa {
    margin-left: 10px;
}

/* Operations list component */
/* Wells (panels with amount at the top) */
.operation-wells {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.operation-wells .well {
    flex-shrink: 0;
    width: 24.5%;
    overflow: hidden;
    box-sizing: border-box;
    color: #fff;
    text-align: right;
    border: none;
    background-image: none;
    background-color: transparent;
}

.operation-wells .well.amount-well-balance {
    background-color: var(--wells-balance-color);
}

.operation-wells .well.amount-well-received {
    background-color: var(--wells-received-color);
}

.operation-wells .well.amount-well-spent {
    background-color: var(--wells-spent-color);
}

.operation-wells .well.amount-well-saved {
    background-color: var(--wells-saved-color);
}

.well-icon {
    margin-top: 10px;
    margin-right: 0;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.2);
    display: inline-block;
    float: left;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.well-title {
    font-size: 16px;
    color: #eee;
}

.well-sub {
    font-size: 12px;
    color: #eee;
}

.operation-amount {
    font-size: 30px;
    font-weight: bold;
    margin-left: 2px;
}

@media (max-width: 1350px) {
    .operation-wells .well {
        padding: 7px;
    }

    .operation-wells .well-icon {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .operation-wells .operation-amount {
        font-size: 1.65em;
        margin: 0;
        word-break: break-all;
    }
}

@media (max-width: 1024px) {
    nav:not(.menu-hidden) + #content .operation-wells .well {
        width: 48.5%;
    }
}

@media (max-width: 768px) {
    .operation-wells .well {
        width: 48.5%;
    }
}

@media (max-width: 620px) {
    .operation-wells .well {
        text-align: center;
    }

    .operation-wells .well-icon {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

/* Search */
form.search > * {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin: 0.5em 0;
}

form.search .search-keywords {
    grid-template-columns: 1fr 5fr;
}

form.search .search-categories-types,
form.search .search-amounts,
form.search .search-dates {
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

form.search label:not(:first-child) {
    margin: 0 1em;
}

form.search p.search-buttons button:first-child {
    grid-column-start: 1;
}

form.search p.search-buttons button:last-child {
    grid-column-start: -2;
}

@media (max-width: 768px) {
    form.search > .search-keywords,
    form.search > .search-categories-types,
    form.search > .search-amounts,
    form.search > .search-dates {
        grid-template-columns: 1fr 2fr;
    }

    form.search > .search-categories-types > select:not(:last-child),
    form.search > .search-amounts > div:not(:last-child),
    form.search > .search-dates > div:not(:last-child) {
        margin-bottom: inherit;
    }

    form.search label:not(:first-child) {
        margin: 0;
    }
}

/* Main panel, with form and operations */
.operation-panel {
    font-size: 14px;
}

.operation-panel .last-sync {
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.operation-panel .table td {
    vertical-align: middle;
}

.operation-panel .table td > * {
    overflow-y: hidden;
}

/*
* WebKit hack: by setting a relative position to the cell, its width will not be
* calculated according to its content, which is wrong if the content is too wide
*/
@media screen and (max-width: 768px) {
    /* The height is smaller in xs-mode */
    .operation-panel .table td {
        position: relative;
        height: 41px;
    }

    /* Force the max height of the children to ensure a fixed height for the
     * infinite list
     */
    .operation-panel .table td > * {
        max-height: 19px;
        height: inherit;
    }

    /* This allows to display the invoice icon correctly in xs-mode*/
    .table .input-group-addon {
        padding: 0px 12px 0px 0px;
    }
}
@media screen and (min-width: 768px) {
    .operation-panel .table td {
        position: relative;
        height: 54px;
    }

    /* Force the max height of the children to ensure a fixed height for the
     * infinite list
     */
    .operation-panel .table td > *
    {
        max-height: 34px;
        overflow: hidden;
    }

    .operation-panel .table td > div
    {
        position: relative;
        max-width: 100%;
    }
}

.input-group-addon {
    color: #a2a2a2;
}

.form-control.invalid-input, .input-group-btn.invalid-input .btn {
    border: 1px solid rgb(242, 108, 79);
}

.form-control.valid-input, .input-group-btn.valid-input .btn {
    border: 1px solid rgb(0, 166, 81);
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: not-allowed;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAA70lEQVRo3u3Y0Q2DMAxFUY/EKIzgDTpCR/FIHYERyAbtD5VQBSEhTvKg70p8BvmgAAIRxhhjjDHGwBtE5LUcI9Bc42quIQczi8h7dSgARn9mmlNQWxgElO7MFEXFMD1RejDTLmo6WNgDpYkzTVuLQ+LiVijNmCeUnqA2ym0WBJT7DLknfDhinrUuaC7KHDBWe3e0RFmrrd4CZa3v25oo6/UQqoGy3k9UT5QJyDvPAwWD8UDBYUpQsJizKGhMTVT3r2O9E8YTBYPxQMFhSlCwmDMoeEwO6jKYFNTlMDHUZTHfxuU3UxCs/+SMMcYY+7s+Kon/MjmZtXEAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: right 1ex center;
    background-size: 1em 1em;
    padding-right: calc(1em + 2ex);
    cursor: pointer;
}

/* Button to change operation types/categories */

.btn .fa {
    margin-right: 0.5em;
}

button:focus, input:focus {outline:none !important}

.btn-transparent {
    color: inherit;
    background-color: transparent;
    border-style: none;
}

.btn-transparent:hover {
   color: #333333;
   background-color: #fff;
   border-color: #cccccc;
   border-style: solid;
}

.btn-primary {
    color: #fff;
}

.btn-default {
    color: #717171;
    border-color: #cfd9db;
}

.form-control, .input-group-btn .btn {
    border: 1px solid #cfd9db;
    box-shadow: none;
}

.operation-panel .form-control:not(:hover):not(:focus):not(:active) {
    border-color: transparent;
    background-image: none;
}

.hidden-file-input {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@media screen and (min-width: 992px) {
    .frequency select {
        width: 270px;
    }

    .input-group-money {
        width: 180px;
        padding-left: 10px;
    }
}

.box-transparent {
    color: inherit;
    background-color: transparent;
    border-style: none;
}

.operation-label-input {
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.operation-label-input:placeholder-shown {
    text-transform: none;
}

.operation-label-input:active,
.operation-label-input:focus,
.operation-label-input:hover {
    background-color: white;
}

.operation-label-input:active,
.operation-label-input:focus {
    cursor: initial;
    text-transform: none;
}

.label-component-container {
    position: relative;
}

span.label-component {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

/* Categories section */
.top-panel {
    margin-top: 15px;
}
.top-panel .table tbody > tr > td {
    vertical-align: middle;
}

.category-color {
    width: 100%;
    height: 34px;
    padding: 0;
}

input.category-color {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #cfd9db;
}

/* Budget section */
span.color-block-small {
    display: inline-block;
    width: 0.75em;
    height: 100%;
    margin-right: 5px;
    vertical-align: middle;
}

.progress.budget {
    margin-bottom: 0;
    position: relative;
    background-image: none;
    background-color: #757272;
}

.progress.budget span.amount-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.progress.budget .progress-bar {
    background-image: none;
}

.progress.budget .progress-bar-success {
    background-image: none;
    background-color: #5cb85c;
}

.progress.budget .progress-bar-warning.progressive {
    background-color: #ec971f;
    background-image: linear-gradient(to right, #5cb85c 0%, #ec971f 100%);
}

.progress.budget .progress-bar-danger {
    background-image: none;
    background-color: #d9534f;
}

.budget-period-label {
    margin-right: 13px;
}

.budget-display-label input {
    margin-left: 13px;
    vertical-align: middle;
}

table.budget td:last-child {
    text-align: center;
}

/* Duplicates section */
.duplicates-explanation {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
}

.duplicates-explanation p {
    padding: 0;
}

.duplicates-explanation p.btn-group {
    margin-left: 1em;
    flex-shrink: 0;
}

.duplicates-explanation p.btn-group > button {
    width: 50%;
}

table.duplicates td[rowspan] {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    nav:not(.menu-hidden) + #content .duplicates-explanation {
        flex-wrap: wrap;
    }

    nav:not(.menu-hidden) + #content .duplicates-explanation p {
        width: 100%;
        margin-left: 0;
    }

    nav:not(.menu-hidden) + #content .duplicates-explanation p.btn-group {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .duplicates-explanation {
        flex-wrap: wrap;
    }

    .duplicates-explanation p {
        width: 100%;
    }

    .duplicates-explanation p.btn-group {
        margin-left: 0;
    }
}

/* Settings section */
.emails .form-group > div {
    max-width: 300px;
}

.emails .condition {
    padding-right: 10px;
}

.bank-accounts-list {
    table-layout: fixed;
}
.bank-accounts-list td:first-child {
    width: 10px;
}

/* charts */
.tab-content {
    margin-top: 10px;
}

.panel {
    position: relative;
    border: 1px solid #cfd9db;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    padding: 0px 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: -1px -1px 0 -1px;
    border: 1px solid transparent;
}

.panel-default > .panel-heading {
    color: #777;
    background-color: #F1F1F1;
    border-color: #CFD9DB;
    background-image: none;
}

.panel-heading > .panel-title,
.panel-heading > .panel-options {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 40px;
    float: none !important;
}

.panel-options {
    color: #777;
    text-align: right;
}

.panel-options a {
    color: #777;
}

.panel-options .option-legend {
    font-size: 12px;
    padding-left: 10px;
}

.panel-options .fa {
    font-size: 15px;
    cursor: pointer;
}

.panel .panel-options.option {
    display: inline-block;
    min-height: 34px;
}

.panel-heading > .panel-title {
    font-size: 14px;
    font-weight: 600;
}

.panel-heading > .panel-title > .icon {
    margin-right: 5px;
}

.panel-heading > .panel-title > a,
.panel-heading > .panel-title > a:hover,
.panel-heading > .panel-title > a:active,
.panel-heading > .panel-title > a:focus {
    text-decoration: none;
}

.table .fa {
    cursor: pointer;
    line-height: 1.42857143;
}

.table .fa-times-circle {
    color: #E55151;
}

.fa-power-off.enabled,
.fa-calculator.enabled {
    color: #00A651;
}

.has-feedback label ~ .form-control-feedback.fa {
    top: auto;
    height: 1em;
    bottom: 1em;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 10px;
}

span.fa-star-o:hover:before, span.fa-star-o:hover ~ span.star:before {
    content: "\f005";
    color: #ffd66a;
}

span.fa-star {
    color: #ffd66a;
}

.fa-spinner {
    -webkit-animation: spin3 1.4s infinite linear;
    animation: spin3 1.4s infinite linear;
}

.checkbox-inside-label * {
    vertical-align: middle;
}

.checkbox-inside-label input {
    margin-right: 5px;
}

.category-color .rc-color-picker-trigger {
    width: 100%;
    height: 100%;
}

.category-color .rc-color-picker-panel-inner {
    background-color: #fff;
}
